/* Menu Categorias */
.menu-categoria{
    height: 8vh;
    width: 85vw;
    border-radius:10px;
    background-color: #252525;
}
.text-categoria{
    font-size: 20px;
    color: #E0E0E0;
    cursor: pointer;
}

/* Produtos */
.img-prod{
    width: 200px;
    height: 170px;
    cursor: zoom-in;
}
.text-preco{
    font-size: 1.4rem;
    color:#DC3545;
}
.container-prod{
    background-color: white;
    box-shadow: 3px 3px 3px black;
}
.text-addcarrinho{
    cursor: pointer;
    background-color:#DC3545;
    border: none;

}
.bg-addcarrinho{
    background-color:#DC3545;
}
.border-carrinho{
    border-radius:0px 10px 10px 0px;
    border: none;
    color: #D8B7BA;
}