.bg-size-body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-contato{
    color:#DC3545;
    font-weight: 800;
    text-shadow: 2px 2px black;
}
.form-contato{
    background-color: #ffffff;
    box-shadow: 5px 5px 2px black;
}
.btn-formulario{
    width: 100%;
    border: 3px solid #DC3545;
    color: #DC3545;
}