.form{
    width: 80%;
    background-color:#d6a2a9;
    box-shadow: 3px 3px 2px black;
    border-radius: 10px;
}
.text-cadastro{
    color: #DC3545;
}
.botao-cadastro{
    width: 100%;
    border: 3px solid #DC3545;
    color: #DC3545;
}
.img-cadastro{
    width: 85%;
}