.form{
    width: 80%;
    background-color:rgb(41, 41, 41, 0.9);
    box-shadow: 3px 3px 2px black;
    border-radius: 10px;
}
.text-cadastro{
    color: #F5F5F5;
}
.botao-cadastro{
    width: 100%;
    border: 3px solid #DC3545;
    color: #DC3545;
}
.img-cadastro{
    width: 85%;
}
.text-color{
    color: #F5F5F5;
}