/* Header */

/* DESKTOP */
nav{
    height: 12vh;
    box-shadow: 2px 2px 10px black;
}
.link-img-header-desk{
    height: 100% !important;
}
.img-header-desk{
    width: 150px;
    height: 100% !important;
}
.link-pages-desk{
    font-size: 20px;
    color: black !important;
}

/* DEVICE */
.link-img-header-dev{
    height: 100% !important;
}
.img-header-dev{
    width: 150px;
    height: 100% !important;
}
.botao-drop{
    height: 100%;
}
.img-drop{
    width: 20px;
}
.div-drop{
    width: 80vw;
}
.link-pages-dev{
    background-color:#DB465A !important;
    font-weight: bold;
}
.link-pages-dev2{
    background-color:#E17A84 !important;
    font-weight: bold;
}

/* Footer */
/* DESKTOP E DEVICE */
Footer{
    height: 10vh; 
    font-size: 110%; 
    background-color: rgb(37, 37, 37);
}
.divFooter{
    height: 100%;
    font-family: 'Rubik', sans-serif;
    color: rgb(224, 224, 224);
}