header {
    height: 10vh;
    box-shadow: 2px 2px 10px black !important;
}

a{
    width: 150px; 
    height: 100% !important;
}
.nav-format{
    font-size: 20px; color: black !important;
}
.nav-format2{
    font-size: 20px;
    color: black !important;
    background-color: rgba(228, 220, 220, 0.651);
    border-radius: 20px;
}